<div class="table-custom">
  <h4 style="color: #6d6d82;" class="mb-3">My Withdrawl Requests</h4>
  <div class="table-area">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col" class="serial-number">S. No.</th>
          <th scope="col">Amount</th>
          <th scope="col">Note</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
          <th scope="col">Confirmation</th>
        </tr>
      </thead>
      <tbody>
        @for (person of people; track $index) {
        <tr>
          <td data-label="S. No." class="serial-number">{{ $index + 1 }}</td>
          <td data-label="Amount">{{ person.amount }}</td>
          <td data-label="Note">{{ person.adminNote ?? person.note }}</td>
          <td data-label="Status">{{ person.status }}</td>
          <td data-label="Date">{{ person.createdAt }}</td>
          <td data-label="Confirmation">{{ person.confirmationLink }}</td>
        </tr>
        }@empty {
        <tr>
          <td colspan="6" class="text-center">No withdrawl requests found.</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>