<section class="section">
  <div class="two-half">
    <div class="left">
      <div class="logo-content">
        <h1><img src="../../assets/images/Blunr_Logo_Final-05.png" class="img-fluid" alt="" /></h1>
        <h2>No worries, here you can reset your password.</h2>
      </div>
      <img src="../../assets/images/Blunr_Logo_Final-02.png" class="logo-overlay" alt="" />
    </div>
    <div class="right">
      <form [formGroup]="resetPasswordForm" class="form">
        <h3>Reset password</h3>

        <div class="form-floating mb-3 position-relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
          <label for="password">Password</label>
          <div *ngIf="isInvalid('password')" class="text-danger">
            <span *ngIf="resetPasswordForm.get('password')?.hasError('required')">
              Password is required
            </span>
            <span *ngIf="resetPasswordForm.get('password')?.hasError('minlength')">
              Must be at least 6 characters
            </span>
          </div>
        </div>

        <div class="form-floating mb-3 position-relative flex">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            class="form-control"
            id="confirmPassword"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          />
          <label for="confirmPassword">Confirm Password</label>
          <div *ngIf="confirmPasswordError" class="text-danger">
            {{ confirmPasswordError }}
          </div>
        </div>

        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="otp"
            placeholder="e.g. 9645"
            formControlName="OTP"
          />
          <label for="otp">Enter OTP</label>
          <div *ngIf="isInvalid('OTP')" class="text-danger">
            <span *ngIf="resetPasswordForm.get('OTP')?.hasError('required')">OTP is required</span>
            <span
              *ngIf="
                resetPasswordForm.get('OTP')?.hasError('minlength') ||
                resetPasswordForm.get('OTP')?.hasError('maxlength')
              "
            >
              OTP must be 6 digits
            </span>
          </div>
        </div>

        <button type="button" class="btn btn-primary mb-3" (click)="resetPassword()" [disabled]="isLoading">
          @if (isLoading) {
            <span class="spinner-border spinner-border-sm"></span>
          }
          Reset Password
        </button>

        <div class="btn-flex mb-3">
          <button type="button" style="gap: 6px" class="d-flex align-items-center" (click)="backToLogin()">
            <img src="../../assets/images/navbar/back-icon.svg" class="navbar-icon" />
            Back to login
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
