<app-home-page-area>
  <app-home-sidebar></app-home-sidebar>
  <div class="home-container w1-auto">
    <app-home-page-header-area></app-home-page-header-area>
    <div class="w-custom">
    @for (post of posts; track $index) {
      <app-post [postData]="post"></app-post>
    } @empty {
      <div class="no-reords">
        <h4 class="text-secondary text-center">No Posts yet.....</h4>
      </div>
    }
    </div>
  </div>
  <div class="suggest-and-subscribed">
    <app-suggestion-section></app-suggestion-section>
    <hr>
    <h2 class="suggestions-section-title mb-3">Your Subscriptions</h2>
    @for (post of subsciptions; track $index) {
    <app-subcribed-account [creatorData]="post.creator"></app-subcribed-account>
    }
  </div>
</app-home-page-area>
