<section class="section">
  <div class="two-half">
    <div class="left">
      <div class="logo-content">
        <h1><img src="../../assets/images/Blunr_Logo_Final-05.png" class="img-fluid" alt="" /></h1>
        <h2>Sign up to support your favorite creators</h2>
      </div>
      <img src="../../assets/images/Blunr_Logo_Final-02.png" class="logo-overlay" alt="" />
    </div>
    <div class="right">
      <form [formGroup]="signupForm" class="form">
        <h3>Create your account</h3>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="username" placeholder="e.g. John Doe"
            formControlName="username" />
          <label for="floatingInput">Username</label>
          <div class="errorMsg" *ngIf="isInvalid('email')">
            <span *ngIf="signupForm.get('username')?.hasError('required')">Username is required</span>
            <span *ngIf="signupForm.get('username')?.hasError('email')">Username must have atleast 3 letters</span>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="email" />
          <label for="floatingInput">Email address</label>
          <div class="errorMsg" *ngIf="isInvalid('email')">
            <span *ngIf="signupForm.get('email')?.hasError('required')">Email is required</span>
            <span *ngIf="signupForm.get('email')?.hasError('email')">Invalid email format</span>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
            formControlName="password" />
          <label for="floatingPassword">Password</label>
          <div class="errorMsg" *ngIf="isInvalid('password')">
            <span *ngIf="signupForm.get('password')?.hasError('required')">Password is required</span>
            <span *ngIf="signupForm.get('password')?.hasError('minlength')">Must be at least 6 characters</span>
          </div>
        </div>
        <div class="form-floating">
          <select class="custom-select" id="paymentMethod" formControlName="role">
            <option class="option" value="user">User</option>
            <option class="option" value="creator">Creator</option>
          </select>
          <!-- <label for="paymentMethod">Select Role</label> -->
        </div>
        <button type="button" (click)="signup()" class="btn btn-primary mb-3" [disabled]="isLoading">
          @if (isLoading) {
          <span class="spinner-border spinner-border-sm"></span>
          }
          SIGN UP
        </button>
        <div class="b-loginreg__form__issues mb-3">
          By logging in and using Blunr, you agree to our
          <a [routerLink]="routes.TERMS_AND_CONDITIONS">Terms of Service</a> and <a
            [routerLink]="routes.PRIVACY_POLICY">Privacy Policy</a>, and confirm that you
          are at least 18 years old.
        </div>
        <div class="btn-flex mb-3 align-items-center" style="gap: 0 !important">
          <div>Already have an account?</div>
          <button type="button" [routerLink]="routes.LOGIN">Log in</button>
        </div>
      </form>
    </div>
  </div>
</section>