<div class="modal-header">
  <h5 class="modal-title">Restore Access</h5>
  <button type="button" class="btn-close" (click)="closeForgetPasswordModel()"></button>
</div>
<div class="modal-body">
  <p>If you have a Blunr account, you will receive a password reset OTP to this email.</p>
  <form [formGroup]="forgetPasswordForm">
    <div class="form-floating mb-0">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="email"
      />
      <label for="floatingInput">Email address</label>
      <div class="errorMsg" *ngIf="isInvalid('email')">
        <span *ngIf="forgetPasswordForm.get('email')?.hasError('required')">Email is required</span>
        <span *ngIf="forgetPasswordForm.get('email')?.hasError('email')">Invalid email format</span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeForgetPasswordModel()">
    Cancel
  </button>
  <button type="button" class="btn btn-primary" (click)="sendOTP()" [disabled]="isLoading">
    @if (isLoading) {
      <span class="spinner-border spinner-border-sm"></span>
    }
    Send OTP
  </button>
</div>